{% extends "base.html" %}

{% load crispy_forms_filters %}

{% block content %}
  <div class="text-right d-inline">
  <h1 class="text-left">TODO LIST </h1>
  <a class="btn btn-primary" href={% url 'to_do:task_create' %}>Add a task</a>
  </div>
  <hr>

  <form action="" method="get" class="form-inline">
  {{ search_field|crispy }}

  {% if tasks %}
    <ul class="sidebar-nav">

    {% for task in tasks %}

    <li class="font-weight-bold d-inline"> {{ task.content }}

      {% if task.is_done %}
        <a class="btn btn-secondary d-inline" href="{% url "to_do:task_status_change" pk=task.pk %}">Undo</a>
        <p class="text-success">Done</p>
        {% else %}
        <a class="btn btn-success d-inline" href="{% url "to_do:task_status_change" pk=task.pk %}">Complete</a>
        <p class="text-danger">Not done</p>
      {% endif %}
      </li>
    <li>Created at: {{ task.created_at }}</li>
    <li>Deadline: {{ task.deadline }}</li>
    <li>Tags:
    {% for tag in task.tags.all %}
      {{ tag.name }}
      {% endfor %}
    <a class="text-success" href={% url "to_do:task_update" pk=task.pk %}>Update</a>
    <a class="text-danger" href={% url "to_do:task_delete" pk=task.pk %}>Delete</a>
    </li>

    <hr>
    {% endfor %}
    </ul>

  {% endif %}

{% endblock %}
